<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>BIMTester Requirements Generator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="static/images/icon.png">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/main.css">

    <meta name="theme-color" content="#fafafa">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/main.js"></script>
    <headerTrue class="seamless">
        <h1>
            BIMTester Requirements Generator
            <span style="font-size: 0.5em; font-style: italic;">
                Because your BIM actually sucks but you don't know it yet.
            </span>
        </h1>
    </header>
    <form action="/" class="form-inline" method="post" onsubmit="return getContent()">
        <div class="row">
            <section class="eight columns">
                <div class="tcenter">
                    <img src="static/images/gb.svg" class="flag active-flag" title="English">
                    <img src="static/images/de.svg" class="flag" title="German">
                    <img src="static/images/it.svg" class="flag" title="Italian">
                    <img src="static/images/fr.svg" class="flag" title="French">
                    <img src="static/images/nl.svg" class="flag" title="Dutch">
                </div>
                <select id="Options" onchange="if (this.value) window.location.href=this.value">
                    <option value="{{url_for('base', value='project_setup')}}"{{'selected="selected"' if feat=='project_setup'}}> 
                        Project Setup 
                    </option>
                    <option value="{{url_for('base', value='geolocation')}}" {{'selected="selected"' if feat=='geolocation'}}> 
                        Geolocation 
                    </option>
                </select>
                <input type='hidden' name='feature_name' value='{{F["featureName"]}}'>

                <p class="tcenter">
                    {% set feature_info = F['featureInfo'].replace('\n', '<br />') %}
                        {{feature_info|safe}}
                    <input type="hidden" name="feature_intro" value="{{F['featureInfo']}}"/>
                </p>
                
                <div class="tcenter" style="margin-bottom: 20px;">
                    <h2 style="border-bottom: 0px; display: inline; padding-right: 20px;"> Import </h2>
                    
                    {% for vendor, (status, ref) in F['vendorsImport'].items() %}
                        <a id="special" href={{ref}} style="text-decoration: none;">
                            <img class="vendor-icon vendor-{{status}}" src="static/images/{{vendor.lower()}}.png" width="24px">
                        </a>
                    {% endfor %}
                    
                    <h2 style="border-bottom: 0px; display: inline; padding-right: 20px; padding-left: 20px;"> Export </h2>
                    
                    {% for vendor, (status, ref) in F['vendorsExport'].items() %}
                        <a id="special" href={{ref}} style="text-decoration: none;">
                            <img class="vendor-icon vendor-{{status}}" src="static/images/{{vendor.lower()}}.png" width="24px">
                        </a>
                    {% endfor %}
                    
                    <h2 style="border-bottom: 0px; display: inline; padding-right: 20px; padding-left: 20px;">
                        <span style="color: #999; display: block;">Need help meeting these requirements with a vendor? 
                            <a href="https://wiki.osarch.org/index.php?title=Project_setup_MicroMVD">Read more</a>
                        </span>
                    </h2>
                </div>
                <input type="hidden" id="scenario" name="scenario" value="{{F['featureInfo']}}"/>
                {% for (scenario, step_info) in F['scenarios'].items() %}
                {% set outer_loop = loop %}
                <h2>
                    {{scenario}}
                    <input type="hidden" id="{{outer_loop.index}}" name="{{outer_loop.index}}" value="{{scenario}}" />
                </h2>
                <ol>
                    {% for (step, example, description) in step_info %}
                    <li>
                        <details>
                            
                                <summary>
                                    {{step|safe}}
                                </summary>
                                
                                <strong>
                                    Example: {{example}}
                                </strong>
                                <p>
                                    {{description}}
                                </p>
                            <div style="padding-bottom: 20px;">
                                <div class="onoffswitch">
                                    <input type="checkbox" class="onoffswitch-checkbox" name="Switch_{{outer_loop.index}}.{{loop.index}}"
                                        id="{{outer_loop.index}}.{{loop.index}}" tabindex="{{outer_loop.index}}.{{loop.index}}" checked>
                                    <label class="onoffswitch-label" for="{{outer_loop.index}}.{{loop.index}}">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </details>
                    </li>
                    {% endfor %}
                </ol>
                {% endfor %}
            </section>
            <aside class="four columns">
                <p>
                    BIMTester is an <strong>open source</strong>, <strong>transparent</strong>,
                    <strong>standards-based</strong> auditing system for IFC-based projects, using well-established best
                    practices from the software industry. Requirements can be automatically checked and customised using
                    100%
                    free software that puts you in control of your OpenBIM data.
                </p>
                <h3>
                    Step 1
                </h3>
                <p>
                    Select a requirements template from the dropdown list.
                </p>
                <h3>
                    Step 2
                </h3>
                <p>
                    Fill out the requirements by editing the highlighted words line by line. Click on a line to toggle
                    whether the requirement is needed for your project.
                </p>
                <h3>
                    Step 3
                </h3>
                <p>
                    Download the requirements file and include it in contracts.
                </p>
                <p>
                    <button type="submit" id="submit" class="button button-primary">Download Requirements</button>
                    <a href="#" class="button">Run an automatic Audit</a>
                </p>
                <h4>
                    More resources
                </h4>
                <ul>
                    <li>Want to write your own requirements? <a href="#">Read more</a>
                    <li>Are you a poweruser or developer? Learn the ropes. <a href="#">Read more</a>
                    <li>Need more help? Engage with the OSArch community. <a href="#">Read more</a>
                </ul>
            </aside>
        </div>
    </form>
    <footer>
        <p>
            <a href="https://github.com/IfcOpenShell/IfcOpenShell/tree/v0.6.0/src/ifcbimtester">BIMTester</a> is built with &hearts; on the awesome <a href="http://www.ifcopenshell.org/">IfcOpenShell</a>
            project by <a href="https://blenderbim.org/community.html">amazing volunteers</a>. You can be one too!
        </p>
    </footer>
    <script>
        const details = document.querySelectorAll("details");

        details.forEach((targetDetail) => {
            targetDetail.addEventListener("click", () => {
                details.forEach((detail) => {
                    if (detail !== targetDetail) {
                        detail.removeAttribute("open");
                    }
                });
            });
        });
    </script>
</body>

</html>